.main-productcard-container-styles {
    width: 262px;
    height: 454px;
    border-radius: 10px;
    border: 1px solid #0000001A;
    margin: 8px;
}

.click-like-product-card {
    display: flex;
    flex-direction: row;
    background-image: url("https://images.unsplash.com/photo-1593361351718-6b853f7b3431?w=400&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 260px;
    height: 260px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.special-offer-sticker {
    position: relative;
    width: 86px;
    height: 24px;
    border-radius: 4px;
    background-color: #D4183D;
    margin: 8px;
    font-size: 12px;
    color: #FFFFFF;
    padding: 4px;
}

.productcard-info {
    display: flex;
    flex-direction: column;
    background: none;
}

.product-maker {
    margin: 16px 16px 4px 16px;
    color: #717182;
    font-size: 14px;
    font-weight: 400;
}

.product-model {
    font-weight: 500;
    font-size: 18px;
    color: #0A0A0A;
    margin: 4px 40px 29px 16px;
}

.product-price {
    margin: 0px 40px 12px 16px;
    font-size: 20px;
    font-weight: 400;
    color: #0A0A0A;
}

.add-to-cart-current-product {
    margin: 0 16px 16px 16px;
    background-color: #030213;
    border: none;
    width: 228px;
    height: 40px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.like-button {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    background-color: #FFFFFFE5;
    margin: 8px 8px 220px 120px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.like-icon {
    width: 16px;
    height: 16px;
    margin: 8px;
}

.carousel-button-container {
    display: flex;
    flex-direction: row;
}

.carousel-button-left {
    position: relative;
    background-color: #FFFFFFE5;
    width: 36px;
    height: 36px;
    border-radius: 33554400px;
    margin-top: -150px;
    margin-right: 90px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    background-image: url(carousel-product-left.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-button-right {
    position: relative;
    background-color: #FFFFFFE5;
    width: 36px;
    height: 36px;
    border-radius: 33554400px;
    margin-top: -150px;
    margin-left: 80px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
    background-image: url(carousel-product-right.svg);
    background-repeat: no-repeat;
    background-position: center;
}